.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board_title {
  font-size: 20px;
}

.task_lists {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task_field {
  margin-top: 10px;
  display: flex;
  color: #172b4d;
  border-radius: 5px;
  max-width: 260px;
  background-color: ;
}

.task_name {
  flex-basis: 100%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add_option {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_task {
  cursor: pointer;
  border-style: none;
  font-size: 12px;
  margin-top: 20px;
  border-radius: 5px;
  border-bottom: medium solid rgb(169, 206, 236);
}

.board_delete_btn {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
  color: rgb(196, 82, 53);
  border-bottom: medium solid rgb(196, 82, 53);
}
